﻿@{
    Layout = "~/Views/Shared/_Master.cshtml";
}
<!doctype html>
<html>
<head>
    <title>Служба доставки</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <style>
        input {
            width: 120px;
        }
    </style>

    <h3>Активные заказы</h3>

    <form action="~/Home/NewOrder">
        <input type="submit" value="Новый заказ" />
    </form>

    <table>
        <tr>
            <td>№</td>
            <td>Город отправителя<td/>
            <td>Адрес отправителя<td/>
            <td>Город получателя<td/>
            <td>Адрес получателя<td/>
            <td>Вес груза<td/>
            <td>Дата забора груза<td/>
        </tr>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.SenderCity<td/>
                <td>@order.SenderAddress<td/>
                <td>@order.RecipientCity<td/>
                <td>@order.ReceiverAddress<td/>
                <td>@order.ShipmentWeight<td/>
                <td>@order.PickupDate.ToShortDateString()<td/>
            </tr>
        }
    </table>
</body>
</html>
