﻿@model VestraTZ.Web.Models.Order
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Новый заказ";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<form asp-antiforgery="true" asp-action="NewOrder" asp-controller="Home">
    <style>
        label {
            width: 200px;
            display: inline-block;
        }
        input {
            width: 200px;
            display: inline-block;
        }
    </style>
    <h3>Форма оформления доставки</h3>
    <p>Для оформления заказа заполните следующие поля:</p>
    <div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="SenderCity">Город отправителя:</label>
            <input type="text" asp-for="SenderCity" />
            <span asp-validation-for="SenderCity"></span>
        </div>
        <div>
            <label asp-for="SenderAddress">Адрес отправителя:</label>
            <input type="text" asp-for="SenderAddress" />
            <span asp-validation-for="SenderAddress"></span>
        </div>
        <div>
            <label asp-for="RecipientCity">Город получателя:</label>
            <input type="text" asp-for="RecipientCity" />
            <span asp-validation-for="RecipientCity"></span>
        </div>
        <div>
            <label asp-for="ReceiverAddress">Адрес получателя:</label>
            <input type="text" asp-for="ReceiverAddress" />
            <span asp-validation-for="ReceiverAddress"></span>
        </div>
        <div>
            <label asp-for="ShipmentWeight">Вес груза:</label>
            <input type="number" asp-for="ShipmentWeight" />
            <span asp-validation-for="ShipmentWeight"></span>
        </div>
        <div>
            <label asp-for="PickupDate">Дата забора груза:</label>
            <input type="date" asp-for="PickupDate" />
            <span asp-validation-for="PickupDate"></span>
        </div>
        <input type="submit" value="Создать" />
    </div>
</form>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}



