﻿@model VestraTZ.Web.Models.Order
@{
    ViewData["Title"] = "Заказ оформлен";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<body>
    <style>
        input{
            width: 50%;
        }
    </style>
    <h2>Новый заказ оформлен</h2>
    <table>
        <tr>
            <td>Номер заказа:</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Город отправителя:
            <td />
            <td>@Model.SenderCity</td>
        </tr>
        <tr>
            <td>Адрес отправителя:
            <td />
            <td>@Model.SenderAddress</td>
        </tr>
        <tr>
            <td>Город получателя:
            <td />
            <td>@Model.RecipientCity</td>
        </tr>
        <tr>
            <td>Адрес получателя:
            <td />
            <td>@Model.ReceiverAddress</td>
        </tr>
        <tr>
            <td>Вес груза
            <td />
            <td>@Model.ShipmentWeight</td>
        </tr>
        <tr>
            <td>Дата забора груза
            <td />
            <td>@Model.PickupDate.ToShortDateString()</td>
        </tr>
    </table>

    <div style="width:100%">
        <form action="~/Home">
            <input type="submit" value="Все заказы"/>
        </form>
        <form action="~/Home/NewOrder">
            <input type="submit" value="Новый заказ"/>
        </form>
    </div>
</body>

