﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <style>
        div {
            padding: 4px;
        }
        tr {
            margin: 4px;
        }

        td {
            margin: 4px;
        }
        input {
            margin: 4px;
            padding: 4px;
            font-size: 13px;
            font-style: italic;
            font-weight: 700;
        }
        form {
            padding: 4px;
            margin: 4px;
        }
    </style>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
